<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link"  [routerLink]="['/employess']"  >Employees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/employess-list'">Employees List</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Directives
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="'/struture-driectives'">Structural Directives</a></li>
                <li><a class="dropdown-item" [routerLink]="'/attribute-driectives'">Attribute Directives</a></li>
                <li><a class="dropdown-item" [routerLink]="'/ng-template'">ng Template</a></li>
                <li><a class="dropdown-item" [routerLink]="'/ng-conatiner'">ng Container</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" [routerLink]="'/data-binding'">Data Binding</a></li>
                
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Control Flow Statment
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="'/ifelse-control-flow'">If Else and Else If</a></li>
                <li><a class="dropdown-item" [routerLink]="'/for-loop-control-flow'">For Loop</a></li>
              </ul>
            </li> 

            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/pipes'">Pipe's</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Forms
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="'/template-form'">Template Form</a></li>
                <li><a class="dropdown-item" [routerLink]="'/reactive-form'">Reactive Form</a></li>
              </ul>
            </li> 

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                API Integration
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="'/get-api'">Get API</a></li>
                <li><a class="dropdown-item" [routerLink]="'/post-api'">Post API</a></li>
              </ul>
            </li> 
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'/lifecycle-event'">Lifecycle Event</a>
            </li>
      </ul>
    </div>
  </div>
</nav> 

<div class="container">
<router-outlet></router-outlet>
</div>