<div class="row">
    <div class="col-12">
        <app-alert [alertType]="'Success'" [pageName]="alertMsg"></app-alert>
    </div>
</div>

<div class="row">
    <div class="col-5 my-3">
<app-my-button [btnClass]="'btn btn-danger'" [btnText]="'Demo Button'" > </app-my-button>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <button  (click)="getAllUser()" class="btn btn-danger">Get All User Data</button>
    </div>
    <div class="col-3">
        <select class="form-select">
            @for (item of allUserData; track $index;)
            {
                <option value=""> {{$index + 1}} {{item.title}} </option>
            }
        </select>
    </div>
</div>

<div class="col-4 my-2">
    <button class="btn btn-primary" (click)="changeMsg()">Change Message</button>
</div>